<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Jonas Oberschweiber</title>

    <link rel="stylesheet" type="text/css" href="/style/screen.css" />
  </head>
  <body>
    <div class="container">
      <div class="bar">
        <span class="title"><a href="/">Jonas Oberschweiber</a></span>
        <ul>
          <li><a href="https://github.com/jonasoberschweiber">GitHub</a></li>
          <li><a href="/imprint.html">Imprint</a></li>
        </ul>
      </div>
      {{ content }}
    </div>
  </body>
</html>
